.idea/
out/
node_modules/
node/
backend/src/main/resources/public/index.html
/target/sonar/.sonar_lock
/frontend/target/frontend-0.0.1-SNAPSHOT.jar
/frontend/target/maven-archiver/pom.properties
/target/sonar/report-task.txt
/git-stats.sh
/log/app.log
/log/warn.log
/backend/log/warn.log
/backend/log/app.log
/backend/src/main/java/at/qe/backend/configs/WebMvcConfig.java
/frontend/src/services/index.ts
*.pyc
/accesspoint/audit.log
arduino/sensorstation/src/old_main.cpp
arduino/sensorstation/.vscode/arduino.json
arduino/sensorstation/.vscode/extensions.json
arduino/sensorstation/.vscode/settings.json
audit.log
/accesspoint/venv
/accesspoint/.venv
