.idea/
out/
node_modules/
node/
backend/src/main/resources/public/index.html
/target/sonar/.sonar_lock
/frontend/target/frontend-0.0.1-SNAPSHOT.jar
/frontend/target/maven-archiver/pom.properties
/target/sonar/report-task.txt
/git-stats.sh
/log/app.log
*.pyc
